body {
        .auto-style1 {
            width: 209px;
        }
        .auto-style2 {
            margin-left: 82px;
        }
        .auto-style5 {
            width: 197px;
        }
        .auto-style7 {
            width: 224px;
            height: 29px;
        }
        .auto-style8 {
            width: 209px;
            height: 29px;
        }
        .auto-style9 {
            height: 29px
        }
        .auto-style10 {
            width: 224px
        }
        .auto-style11 {
            width: 532px;
            margin-right: 3px;
        }
}
